/*Navbar*/
nav ul{
    display: flex;
    flex-direction: row;
    border: solid black 1px;
    font-size: 30px;
    padding-left: 520px;
    padding-top: 10px;
    height: 45px;
    background-color: black;
}

nav li{
    padding-right: 25px;
    color: white;
    font-family: sans-serif;
}

/*main banner section*/

.main-img{
    background-image: url('./images/forest.jpg');
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 40px;
    color: white;
}

.main-img h1{
    padding-top: 170px;
    font-size: 120px;
    font-family: sans-serif;
}

.main-img p{
    padding-top: 25px;
    font-family: sans-serif;
}

/*About Section*/

.about{
    text-align: center;
}